/* font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif; */

body {
  background-image: url(./images/mainBG.jpeg);
}

h1,
h2,
p {
  color: white;
}

.resume {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 2rem;
  /* text-decoration: none; */
}

.resume:hover {
  color: antiquewhite;
  text-decoration: none;
  font-size: 30px;
}

.aboutMe,
.projects {
  text-decoration: underline;
}

.headings {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-size: 50px;
}

.photo {
  display: block;
  width: 400px;
  margin: 20px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

p {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
}

.btn {
  background-color: green;
  color: white;
}

.card-img-top {
  height: 286px;
  width: 286px;
}

.card-text {
  color: black;
}

#footer {
  display: flex;
  height: 100px;
  width: 100%;
  background-color: green;
  justify-content: space-around;
}

.footer-links {
  margin: auto 40px;
  color: white;
}

/* MEDIA QUERIES */

@media (max-width: 998px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}
